     <p>
            <h3>Create a new category that lost property items can be saved against</h3>
        </p>    
        <form  ng-submit="addCategoryForm.$valid && model.saveCategory()" class="form-horizontal" novalidate name="addCategoryForm">
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{ 'has-error': (addCategoryForm.categoryName.$touched && addCategoryForm.categoryName.$invalid) || (addCategoryForm.$submitted &&addCategoryForm.categoryName.$invalid)}">
                    <label for="categoryName">Category Name</label>
                    <input type="text" required="" 
                            name="categoryName" 
                            ng-model="model.name" 
                            class="form-control" 
                            id="categoryName" 
                            placeholder="Category Name"
                            required>
                    <div class="help-block"  
                        ng-messages="addCategoryForm.categoryName.$error" 
                        ng-show="addCategoryForm.$submitted || addCategoryForm.categoryName.$touched">
                        <p ng-message="required">Name is required</p>
                    </div>    
                </div>
            </div>  
            <div class="form-group">
                <div >
                <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>        
