<toaster-container toaster-options="{'close-button':false, 'time-out':{ 'toast-warning': 2000, 'toast-error': 5000, 'toast-success': 5000 } }"></toaster-container>
<div class="well well-lg">
    <p>
            <h3>Find an item</h3>
    </p>    
    <form  ng-submit="findItemForm.$valid && model.search()" class="form-horizontal" novalidate name="findItemForm">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="itemName">Item Name</label>
                <input type="text"  
                        name="itemName" 
                        ng-model="model.searchModel.itemName" 
                        class="form-control" 
                        id="itemName" 
                        placeholder="Lost Property Name"
                        >
                <div class="help-block">  
                </div>    
            </div>
        </div>  
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="itemCategory">Item Category</label>
                <select 
                        name="itemCategory" 
                        ng-model="model.searchModel.itemCategory" 
                        class="form-control" 
                        id="itemCategory" 
                        ng-options="option.name for option in model.categories track by option.name"
                        ></select>
                <div class="help-block">  
                </div>    
            </div>
        </div>  
 		<div class="row">
            <div class="form-group col-sm-6">
                <label for="itemDate">Date Lost/Found</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="model.datePicker.opened" ng-model="model.searchModel.itemDate" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.openDatePicker()" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>    
                <div class="help-block">  
                    
                </div>    
            </div>
        </div>
        <div class="form-group">
            <div >
            <button id="findSubmit" type="submit" class="btn btn-primary">Find</button>
            </div>
        </div>


    </form> 

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item Name</th>
           
                <th>Item Description</th>
                <th>Date Lost/Found</th>
                <th>Lost or Found</th>
                <th>Category</th>
            </tr>    

        </thead>
        <tbody>    
            <tr ng-if="model.items.length" ng-repeat="item in model.items">
                <td>
                    <a  ng-if="model.isLoggedIn()  && model.isAdminUser()" ng-link="['EditPlace', {id: item._id}]"><span ng-class="{'glyphicon glyphicon-ok found':item.located}"></span>{{item.itemName}}</a>
                    <span  ng-if="!model.isLoggedIn()  || !model.isAdminUser()"><span ng-class="{'glyphicon glyphicon-ok found':item.located}"></span>{{item.itemName}}</span>
                </td>
                <td>
                    {{item.itemDescription}} {{item.located}}
                </td>
                <td>
                    {{item.itemDate | date : 'dd/MM/yyyy'}}
                </td>
                <td>
                    {{item.itemLostOrFound}}
                </td>
                <td>
                    {{item.itemCategory.name}}
                </td>

            </tr>
            <tr ng-if="!model.items.length"> 
            	<td colspan="5">No Results</td>
            </tr>
        </tbody>             
    </table>       