
<div class="container">
    
    <div class="jumbotron">
        
        <div class="media"> 
            <div class="media-left"> 
                <img class="media-object img-rounded" 
                src="/images/Riverviewcrest.png" style="width: 100px; height: 96px;"> 
            </div> 
            <div class="media-body"> 
                <h2 class="media-heading">St Ignatius Lost Property App</h2> 
                This is the place to track and search for any items you may have lost during your time at Riverview. Enjoy!
            </div> 
        </div>
        <p></p>
        <p><a class="btn btn-primary btn-lg" ng-link="['Find']" role="button">Find an item</a></p>
    </div>

</div>