<div class="well well-lg">
    <p>
        <h3>Lost Property Categories</h3>
    </p>  

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>    
        </thead>
        <tbody>    
            <tr  ng-repeat="category in model.categoryPage">
                <td>
                    {{category.name}}
                </td>
            </tr>
        </tbody>             
    </table>       

    <nav aria-label="Page navigation">
    <ul class="pagination">
        <li ng-class="{'disabled':!model.hasPrevious()}">
        <a ng-click="model.previousPage();" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
        <li ng-repeat="page in model.getCategoryPages() track by $index">
            <a ng-click="model.gotoPage($index);">{{$index+1}}</a>
        </li>
        
        <li ng-class="{'disabled':!model.hasNext()}">
        <a ng-click="model.nextPage();" aria-label="Next">
            <span  aria-hidden="true">&raquo;</span>
        </a>
        </li>
    </ul>
    </nav> 
</div>    