
<toaster-container toaster-options="{'close-button':false, 'time-out':{ 'toast-warning': 2000, 'toast-error': 5000, 'toast-success': 5000 } }"></toaster-container>
<div class="well well-lg">
    <p>
            <h3 ng-if="!model._id">Create a new lost item</h3><h3 ng-if="model._id">Edit an item <span ng-if="model.located===true" class="located">FOUND</span></h3>
    </p>    
    <form  ng-submit="placeItemForm.$valid && model.saveItem()" class="form-horizontal" novalidate name="placeItemForm">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="itemName">Item Name</label>
                <input type="text" required="" 
                        name="itemName" 
                        ng-model="model.itemName" 
                        class="form-control" 
                        id="itemName" 
                        placeholder="Lost Property Name"
                        required>
                <div class="help-block"  
                    ng-messages="placeItemForm.itemName.$error" 
                    ng-show="placeItemForm.$submitted">
                    <p ng-message="required">Item Name is required</p>
                </div>    
            </div>
        </div>  
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="itemDescription">Item Description</label>
                <textarea required="" 
                        name="itemDescription" 
                        ng-model="model.itemDescription" 
                        class="form-control" 
                        id="itemDescription" 
                        placeholder="Lost Property Description"
                        required></textarea>
                <div class="help-block"  
                    ng-messages="placeItemForm.itemDescription.$error" 
                    ng-show="placeItemForm.$submitted">
                    <p ng-message="required">Item Description is required</p>
                </div>    
            </div>
        </div>  
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="itemCategory">Item Category</label>
                <select required="" 
                        name="itemCategory" 
                        ng-model="model.itemCategory" 
                        class="form-control" 
                        id="itemCategory" 
                        ng-options="option.name for option in model.categories track by option.name"
                        required></select>
                <div class="help-block"  
                    ng-messages="placeItemForm.itemCategory.$error" 
                    ng-show="placeItemForm.$submitted">
                    <p ng-message="required">Category is required</p>
                </div>    
            </div>
        </div>  
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="itemDate">Date Lost/Found</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="model.datePicker.opened" ng-model="model.itemDate" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.openDatePicker()" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>    
                <div class="help-block"  
                    ng-messages="placeItemForm.itemDate.$error" 
                    ng-show="placeItemForm.$submitted">
                    <p ng-message="required">Date Lost/Found is required</p>
                </div>    
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="itemDate">Time Lost/Found</label>
                <p class="input-group">
                    <div uib-timepicker ng-model="model.itemTime" hour-step="1" minute-step="15" show-meridian="true"></div>
                    
                </p>    
                <div class="help-block"  
                    ng-messages="placeItemForm.itemCategory.$error" 
                    ng-show="placeItemForm.$submitted">
                    <p ng-message="required">Date Lost/Found is required</p>
                </div>    
            </div>
        </div>  
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="itemLostOrFound">Lost or Found</label>
                <select required="" 
                        name="itemLostOrFound" 
                        ng-model="model.itemLostOrFound" 
                        class="form-control" 
                        id="itemLostOrFound" 
                        required>
                        <option value="">Select</option>
                        <option value="lost">Lost</option>
                        <option value="found">Found</option>        
                </select>
                <div class="help-block"  
                    ng-messages="placeItemForm.itemLostOrFound.$error" 
                    ng-show="placeItemForm.$submitted">
                    <p ng-message="required">Lost or Found is required</p>
                </div>    
            </div>
        </div>  
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="itemLocation">Item Location <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="left" title="Where was the item lost or found?"></span></label>
                <input type="text" required="" 
                        name="itemLocation" 
                        ng-model="model.itemLocation" 
                        class="form-control" 
                        id="itemLocation" 
                        placeholder="Lost Property Location"
                        required>
                <div class="help-block"  
                    ng-messages="placeItemForm.itemLocation.$error" 
                    ng-show="placeItemForm.$submitted">
                    <p ng-message="required">Item Location is required</p>
                </div>    
            </div>
        </div>
        <script type="text/ng-template" id="confirmDeleteTmpl.html">
            <div>
                Do you wish to delete this item ? <button type="button" ng-click="model.deleteItemConfirmed()" class="btn btn-error">Yes</button>
            </div>
        </script>
        <div class="form-group">
            <div >
            <button ng-if="model.showSaveButton" id="placeSubmit" type="submit" class="btn btn-primary">Save</button>
            <button ng-if="model.showUpdateButton" id="updateItem" type="button" ng-click="model.updateItem()" class="btn btn-primary">Update</button>
            <button ng-if="model.showDeleteButton" id="deleteSubmit" type="button" ng-click="model.deleteItem()" class="btn btn-danger">Delete</button>
            <button ng-if="model.showFoundButton" id="locatedSubmit" type="button" ng-click="model.itemLocated()" class="btn btn-success">Mark as Found</button>
            </div>
        </div>
    </form>
</div>        
